/* GENERAL PAGE STYLING */
body {
  font-family: Arial, sans-serif;
  background-color: #2B6E7A;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 60px;
}

/* START SCREEN */
#start-screen {
  margin-top: 80px;
}

#start-screen h2 {
  color: #FFFFFF;
  font-size: 26px;
  margin-bottom: 25px;
}

.main-btn {
  background-color: #2B6E7A;
  color: white;
  padding: 15px 28px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.main-btn:hover {
  background-color: #225862;
}

/* FISH CARD */
.fish-card {
  background: #DEDCC6;
  margin: 40px auto;
  padding: 25px;
  border-radius: 12px;
  max-width: 850px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.fish-card h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #000;
}

.fish-img {
  max-width: 80%;
  display: block;
  margin: 0 auto 20px auto;
}

/* SECTION TITLES */
.section-title {
  color: #2B6E7A;
  font-size: 22px;
  font-weight: bold;
  margin-top: 25px;
}

/* TAG IMAGE */
.tag-img {
  max-width: 140px;
  display: block;
  margin-top: 10px;
}

/* CAST AGAIN BUTTON INSIDE CARD */
.cast-again-btn {
  display: block;
  width: 70%;
  margin: 30px auto 10px auto;
  background-color: #2B6E7A;
  color: white;
  padding: 15px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.cast-again-btn:hover {
  background-color: #225862;
}
