body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #e5f0f3;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.fish-card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.fish-img {
  display: block;
  width: 75%;
  max-width: 430px;
  margin: 10px auto 25px auto;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #004f57;
}

p {
  font-size: 18px;
  line-height: 1.45;
}

hr {
  margin: 25px 0;
  border: none;
  border-top: 2px solid #d3d3d3;
}

.tag-img {
  display: block;
  width: 180px;
  height: auto;
  margin: 15px auto 0 auto;
}

/* Buttons */
.main-btn {
  background-color: #1f869b;
  border: none;
  color: white;
  padding: 12px 28px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 15px auto;
}

#bottomButtonWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 12px 0;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  border-top: 2px solid #c5d3d8;
}
